<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Posgrado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let posgrado of posgrados">
    <ion-card-header style="text-align:center;">
      <ion-card-title>
        {{ posgrado.nombre }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="text-align:justify;">
      <ion-img [src]="posgrado.imagen"></ion-img>

      <p><b>Objetivo: </b><br></p>
      {{ posgrado.descripcion }}

      <ion-button [routerLink]="posgrado.pagina">
        <ion-icon name="bulb-outline" slot="start"></ion-icon>
        Conoce Más
      </ion-button>

      <ion-button *ngIf="activeAudio != posgrado.audio" (click)="start(posgrado.audio, $event)">
        <ion-icon name="headset-outline" slot="start"></ion-icon>
        Reproducir Audio
      </ion-button>

      <ion-footer *ngIf="activeAudio == posgrado.audio" class="ion-text-center">
        <ion-button (click)="start(posgrado.audio)">
          <ion-icon slot="icon-only" name="reload"></ion-icon>
        </ion-button>

        <ion-button *ngIf="!isPlaying" (click)="togglePlayer(false)">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>

        <ion-button *ngIf="isPlaying" (click)="togglePlayer(true)">
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>

        <ion-button (click)="stop()">
          <ion-icon slot="icon-only" name="stop"></ion-icon>
        </ion-button>
      </ion-footer>

    </ion-card-content>
  </ion-card>
</ion-content>