<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>

      <ion-title>
          Posgrado
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor = "let posgrado of posgrados" style="width:80%; display:block; margin:auto; margin-bottom:20px;">
      <ion-card-header style="text-align:center;">
        <ion-card-title>
          {{ posgrado.nombre }}
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content style="text-align:justify;">
        <ion-img [src] = "posgrado.imagen" style="width:90%; display:block; margin:auto; margin-bottom:10px; "></ion-img>
  
        <p><b>Objetivo: </b><br></p>
        {{ posgrado.descripcion }}
        
        <ion-button [routerLink]="posgrado.pagina" style="display:block; margin:auto; margin-top:10px;">
          <ion-icon name="bulb-outline" slot="start"></ion-icon>
          Conoce Más
        </ion-button>
  
        <ion-button (click)="start(posgrado.audio, $event)" style="display:block; margin:auto; margin-top:10px;">
          <ion-icon name="headset-outline" slot="start"></ion-icon>
          Reproducir Audio
        </ion-button>
  
        <ion-footer *ngIf="activeAudio" class="ion-text-center">
          <ion-button *ngIf="activeAudio == posgrado.audio && !isPlaying" (click)="togglePlayer(false)">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
  
          <ion-button *ngIf="activeAudio == posgrado.audio && isPlaying" (click)="togglePlayer(true)">
            <ion-icon slot="icon-only" name="pause"></ion-icon>
          </ion-button>
        </ion-footer>
        
      </ion-card-content>
    </ion-card>   
  </ion-content>