<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>

        <ion-title>
            Contacto
        </ion-title>
    </ion-toolbar>
</ion-header>
<!-- No se si lo del formulario iba en contacto xD - SILVIA -->
<ion-content>
    <ion-card>
            <form>
                <ion-list>
                    <br>
                    <ion-item>
                        <ion-label position="floating">Nombre</ion-label>
                        <br>
                        <ion-input  [(ngModel)]="nombre" required type="text" name="nombre" clearInput="true"></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-label position="floating">Edad</ion-label>
                        <br>
                        <ion-input  [(ngModel)]="edad" required type="numeric" name="numeric" clearInput="true"></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-label position="floating">E-Mail<ion-text color="danger">*</ion-text></ion-label>
                        <br>
                        <ion-input  [(ngModel)]="mail" required type="email" name="email" clearInput="true"></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-label position="floating">Comentarios</ion-label>
                        <br>
                        <ion-textarea  [(ngModel)]="comentario" rows="6" cols="20" placeholder="Escriba sus comentarios..." ></ion-textarea>
                    </ion-item>
                    <br>
                </ion-list>
                <ion-card>
                    <ion-card-content>
                        <ion-button (click)="hacerFoto()" expand="block">Tomar fotografía</ion-button>
                        <img [src]="foto" *ngIf="foto" />
                    </ion-card-content>
                </ion-card>
                <ion-button (click)="SendForm()" expand="block" type="submit" class="ion-no-margin">Enviar datos</ion-button>
            </form>
    </ion-card>
</ion-content>
