<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center;">
      <ion-icon name="calculator-sharp"></ion-icon>
      Facultad de Ciencias Físico Matemáticas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header style="margin-bottom:15px;">
    <ion-toolbar>
      <ion-title size="large" style="text-align:center;">Licenciaturas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor = "let licenciatura of licenciaturas" style="width:80%; display:block; margin:auto; margin-bottom:20px;">
    <ion-card-header style="text-align:center;">
      <ion-card-title>
        {{ licenciatura.nombre }}
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content style="text-align:justify;">
      <ion-img [src] = "licenciatura.imagen" style="width:90%; display:block; margin:auto; margin-bottom:10px; "></ion-img>

      <p><b>Objetivo: </b><br></p>
      {{ licenciatura.descripcion }}
      <ion-button (click)="reproducir(licenciatura)" style="display:block; margin:auto; margin-top:10px;">
        <ion-icon name="play-outline" slot="start"></ion-icon>
        Reproducir Audio
      </ion-button>
      <ion-button href={{licenciatura.pagina}} style="display:block; margin:auto; margin-top:10px;">
        <ion-icon name="bulb-outline" slot="start"></ion-icon>
        Conoce Más
      </ion-button>
      
    </ion-card-content>
  </ion-card>
  
</ion-content>