<ion-app>
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>
          <ion-icon name="calculator-sharp"></ion-icon>
          FCFM
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div *ngFor="let pagina of paginas">
        <ion-menu-toggle>
          <ion-item [routerLink]="pagina.referencia" routerDirection="root" routerLinkActive="active">
            <ion-label>
              <ion-icon [name]="pagina.icon"></ion-icon>
              {{ pagina.nombre }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="people"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button  href="https://www.facebook.com/FCFM.UANL/"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button href="https://twitter.com/fcfmuanl?lang=en"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-app>