<ion-app>
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>
          <ion-icon name="calculator-sharp"></ion-icon>
          FCFM
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div *ngFor="let pagina of paginas">
        <ion-menu-toggle *ngIf= "pagina.nombre != 'Licenciaturas'">
          <ion-item [routerLink]="pagina.referencia" routerDirection="root" routerLinkActive="active">
            <ion-label>
              <ion-icon [name]="pagina.icon"></ion-icon>
              {{ pagina.nombre }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item *ngIf="pagina.nombre == 'Licenciaturas'"
                [class.active-parent]="pagina.open"
                button>
          <ion-menu-toggle [routerLink]="pagina.referencia" routerDirection="root" routerLinkActive="active">
            <ion-label style="padding: 10px 145px 10px 0px; margin: 0px">
              <ion-icon [name]="pagina.icon"></ion-icon>
              {{ pagina.nombre }}
            </ion-label>
          </ion-menu-toggle>
          <ion-icon slot="end" name="arrow-forward" class="arrow" (click)="pagina.open = !pagina.open; animateArrow(!pagina.open)"></ion-icon>
        </ion-item>

        <ion-list *ngIf="pagina.open">
          <ion-menu-toggle>
            <ion-item class="sub-item" *ngFor="let sub of pagina.children" [routerLink]="sub.referencia" routerDirection="root" routerLinkActive="active">
              <ion-label>
                <ion-icon [name]="sub.icon"></ion-icon>
                {{ sub.nombre }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>