<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>

        <ion-title>
            Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title size="large" style="text-align:center;">
                <ion-icon name="calculator-sharp"></ion-icon>
                FCFM
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card [routerLink]="['./mapa']">
        <ion-card-header>
            <ion-title>
                ¿Cómo llegar?
            </ion-title>
        </ion-card-header>
        <ion-card-content>
            <ion-img src="https://elperiodicodemexico.com/galeria2011/449371.jpg"></ion-img>
        </ion-card-content>
    </ion-card>
</ion-content>
