<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>

        <ion-title>
            Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title size="large" style="text-align:center;">
                <ion-icon name="calculator-sharp"></ion-icon>
                FCFM
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <ion-card-header>
            <ion-title>
                Noticias
            </ion-title>
        </ion-card-header>
        <ion-card-content>
            <div id="noticias">
                <ion-slides pager=true style="height:600px">
                    <ion-slide *ngFor="let evento of eventos">
                        <ion-card>
                                <ion-card-header>
                                    <ion-img [src]="evento.imagen" S></ion-img>
                                </ion-card-header>
                                <ion-card-content>
                                    <ion-title size="small">
                                        <b>{{evento.nombre}}</b>
                                    </ion-title>
                                    <ion-label>
                                        {{evento.descripcion}}
                                    </ion-label>
                                    <ion-button href="{{evento.referencia}}">Más Informacion</ion-button>
                                </ion-card-content>
                        </ion-card>
                    </ion-slide>
                    <ion-slide>
                        <ion-card>
                            <ion-card-header>
                                <ion-img
                                    src="https://scontent.fntr5-1.fna.fbcdn.net/v/t1.0-9/44782542_2115096308522545_6603345345235648512_n.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=C7qLRj9N3skAX8tf_EH&_nc_ht=scontent.fntr5-1.fna&oh=3f634faae2289eedbbaf60e56c3ec559&oe=5F08B549">
                                </ion-img>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-title size="small">
                                    <b>Encuentra más noticias en </b>
                                </ion-title>
                                <ion-button href="https://www.facebook.com/FCFM.UANL/">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </ion-button>
                                <ion-button href="https://twitter.com/fcfmuanl?lang=en">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </ion-button>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card [routerLink]="['./mapa']">
        <ion-card-header>
            <ion-title>
                ¿Cómo llegar?
            </ion-title>
        </ion-card-header>
        <ion-card-content>
            <ion-img src="https://elperiodicodemexico.com/galeria2011/449371.jpg"></ion-img>
        </ion-card-content>
    </ion-card>

    <br>
    <ion-card>
        <ion-card-content>
            <ion-title style="text-align:center;">¿Quieres conocer mas sobre <br> la facultad?</ion-title>
            <ion-button [routerLink]="['/conoce-mas']" expand="full">Da click aqui</ion-button>
        </ion-card-content>
    </ion-card>
    <br>

</ion-content>