<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center;">
      <ion-icon name="calculator-sharp"></ion-icon>
      Facultad de Ciencias Físico Matemáticas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" style="text-align:center;">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor = "let pagina of paginas" text-center>
    <ion-button href={{pagina.referencia}}>{{ pagina.nombre }}</ion-button>
  </ion-list>
  
</ion-content>
